UseTab: true
TabWidth: 8
IndentWidth: 8
ColumnLimit: 140
SortIncludes: false
IncludeBlocks: Preserve
PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 1
SpacesInParentheses: false
SpacesInCStyleCastParentheses: true
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true
  AfterFunctionDeclarationName: true

AlignArrayOfStructures: Right
AlignAfterOpenBracket: true
AlignEscapedNewlines: true
AlignTrailingComments: Always
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCompoundRequirementOnASingleLine: false

SeparateDefinitionBlocks: Always
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterExternBlock: true
  AfterNamespace: true
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: false
  BeforeLambdaBody: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: BeforeColon
BreakAfterAttributes: Never

AccessModifierOffset: 0
NamespaceIndentation: All
FixNamespaceComments: false

IndentAccessModifiers: true
IndentCaseLabels: true
IndentExternBlock: true
IndentGotoLabels: true
IndentPPDirectives: AfterHash
LambdaBodyIndentation: Signature

RequiresExpressionIndentation: OuterScope

InsertBraces: true

WrapNamespaceBodyWithEmptyLines: Never
BinPackParameters: true
BinPackArguments: true

SpaceAfterLogicalNot: false
